Temp/
obj/
Build/
Library/
metadata/
ExportedObj/
client/UGame/*.csproj
client/UGame/*.sln
*.svd

*.pidb
*.suo
*.user
*.unityproj
*.booproj

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db